:root {
  --primary: #b895fe;
  --secondary: #551a8b;
  --third: #d6ceff;
  --error: #e9393c;
  --text: #3c3c3c;
  --contrast: #00338c;
  --gray: #9ea0a9;
  --text: #2e3142;
  --placeholder: #c1c4cb;
  --text-light: #758596;
  --bg-gray: #f9f9f9;

  --xsmall: 480px;
  --small: 640px;
  --medium: 960px;
  --large: 1200px;
  --xlarge: 1400px;

  --radius: 10px;
}
